/* CSS pour les conteneurs */
.container_corps {
    display: flex;
    flex-direction: row;
    align-self: start;
    height: auto;
  }

  .container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
  }
  
  .text-container {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    width: 45%;
    text-align: center;

  }
  
  .image-container {
    display: flex;
    flex-direction: row;
    align-items:  flex-end;
    overflow: hidden;
    width: 55%;
  }
  
  /* CSS pour le logo */
  #logo_index {
    width: 188%;
    height: 100%;
    object-fit: scale-down;
  }
  
  /* CSS pour l'article */
  article {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-right: 100px ;
    margin-top: 10px;
  }
  
  /* CSS pour le bouton */
  button {
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: #c9995b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: font-size 0.3s; /* Ajout d'une transition fluide pour l'animation */
  }
  
  button:hover {
    background-color: #ffffff;
    font-size: 18px; /* Taille du texte agrandie au survol */
  }
  
  /* CSS pour les images */
  .small-img {
    width: 100%;
    height: 95%;
    object-fit: contain;
    margin-right: 10px;
  }
  
  /* CSS pour la barre de navigation */

.navbar {
  background-color: #fffefe;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}

#logo_nav {
  width: 50px;
  height: 50px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-left: 10px;
}

.actions {
  margin-left: auto;
}

a {
  text-decoration: none; /* Enlever le soulignement des liens */
}

 /* CSS pour catégorie Fruit */

#left-image {
  height: 50vh;
  flex: 0 0 auto; 
}

.content-container {
  
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}

.container_fruit {
  display: flex;
  flex-wrap: wrap;


}

.title-container {
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

h2 {
  font-size: 18px;
  margin-top: 0;
}

.description-container {
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-top: 0;
}
