/* CSS pour les conteneurs */
.container_corps {
    display: flex;
    flex-direction: row;
    align-self: start;
    height: auto;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .text-container {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    width: 50%;

  }
  
  .image-container {
    display: flex;
    flex-direction: row;
    align-items:  flex-end;
    width: 50%;
  }
  
  /* CSS pour le logo */
  #logo_index {
    width: 100%;
    height: auto;
  }
  
  /* CSS pour l'article */
  article {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-right: 100px ;
    margin-top: 10px;
  }
  
  /* CSS pour le bouton */
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cc0000;
  }
  
  /* CSS pour les images */
  .small-img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  